[Unit]
Description=Check the latest Overture Places release once monthly

[Timer]
OnCalendar=*-*-01 02:10:00 Asia/Jerusalem
RandomizedDelaySec=0
AccuracySec=1s
Persistent=true
Unit=sveevee-overture.service

[Install]
WantedBy=timers.target
