VITE_API_BASE_URL=/api/v1
VITE_RECAPTCHA_ENABLED=
VITE_RECAPTCHA_SITE_KEY=6LdMPoItAAAAACyCtOSQcSYtSvjzBCHBbnz1ftDe
VITE_REVERB_APP_KEY=
VITE_REVERB_HOST=localhost
VITE_REVERB_PORT=8080
VITE_REVERB_SCHEME=http
